@import "tailwindcss";
@import '@fontsource/atkinson-hyperlegible/400-italic.css';
@import '@fontsource/atkinson-hyperlegible/700-italic.css';
@plugin "daisyui";

#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;

  font-family: 'Atkinson Hyperlegible', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: whitesmoke;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

main {
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif
}